.btn-sharp {
    margin: 10px !important;
    border-radius: 0px !important;
    border: 1px solid !important;

    color: #007bff;
    background-color: transparent;
    background-image: none;
    border-color: #007bff;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn-sharp:hover {
    background-color: #007bff;
    color: white !important;
    border-color: #007bff !important;
}